<div
  class="list-item"
  data-bind="descendantsComplete: onItemComplete, css: { 'list-item_nested': nested }, attr: { 'data-position': position }"
>
  <!-- ko ifnot: nested -->
    <button
      data-bind="click: toggle, css: { 'list-item__toggle_open': open }"
      class="button list-item__toggle"
      type="button"
    ></button>
  <!-- /ko -->
  <div
    data-bind="text: name, css: { 'list-item__name_strong': !nested }"
    class="list-item__name"
  ></div>
  <button
    class="button list-item__drag"
    data-bind="event: { pointerdown: drag.bind($data, itemElem, event) }"
  ></button>
</div>
